/* COLOR VARIABLES */
$color-white: #ffffff;
$color-black: #151317;
$color-violet: #512689;
$color-gray-light: #f8f8f8;
$color-gray: #808185;
$color-red: #ff6161;

/* FONT SIZE VARIABLES */
$textXSS: 10px;
$textXS: 12px;
$textS: 14px;
$textM: 16px;
$textL: 20px;
$textXL: 32px;
$textXL-2: 36px;
$textXXL: 64px;

/* BORDER RADIUS VARIABLES */
// $br-input: 12px;
