@import '../../Shared/_mixins';
@import '../../Shared/_variables';

// * {
//   outline: 1px red solid;
// }
.login {
  &__container {
    padding: 16px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px #00000014;
    display: grid;
    gap: 16px;
  }
  &__title {
    @include font-sans($textL, $color-black, 400, 23.44px);
  }
  &__form {
    display: grid;
    gap: 21px;
  }
  &__label {
    @include font-sans($textM, $color-black, 400, 21.79px);
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include font-sans($textS, $color-gray, 400, 16.41px);
    margin-top: 8px;
    border: 1px solid $color-gray-light;
    border-radius: 8px;
    background-color: $color-gray-light;
    padding: 12px 8px 12px 16px;

    &_error {
      border-color: $color-red;
    }
    &:focus-visible {
      outline: none;
      border: 0.5px solid $color-gray;
    }
  }
  &__error {
    display: none;
    height: 16px;
    @include font-sans($textXSS, $color-red, 400, 11.72px);

    &_active {
      display: block;
    }
  }
  &__btn {
    @include font-sans($textM, $color-white, 400, 21.79px);
    background-color: $color-violet;
    border-radius: 8px;
    width: 468px;
    padding: 13px 0;
    margin-top: 8px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }

    @media screen and (max-width: 860px) {
      max-width: 343px;
    }
  }
}
