@import '../../Shared/_mixins';
@import '../../Shared/_variables';
* {
  //   outline: 1px red solid;
}
.teamList {
  &__header {
    width: 846px;
    display: grid;
    gap: 16px;
    justify-self: center;
    text-align: center;
  }

  &__title {
    @include font-sans($textXXL, $color-white, 400, 75px);
  }
  &__subtitle {
    @include font-sans($textL, $color-white, 400, 23.44px);
  }
  &__container {
    display: flex;
    gap: 56px;
    flex-direction: column;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, auto));
    justify-content: center;
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__btn-more {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    align-self: center;
    border: 1px solid $color-black;
    border-radius: 8px;
  }
  &__arrow {
    margin-left: 8px;
  }
}
