@import '../Shared/mixins';
@import '../Shared/_variables';
.header{
    display: grid;
    background-color: $color-violet;
    color: $color-white;
    padding: 32px 80px 64px;
&__wrap{
    display: flex;
    justify-content: space-between;
    @include font-sans($textM, $color-gray-light, 400, 21.79px);
}
&__btn{
    width: 81px;
    height: 38px;
    border-radius: 8px;
    border: 1px $color-gray-light solid;
    background-color: transparent;
    color: $color-gray-light
}
    &__btn-back{
        &_invisible{
            // opacity: 0;
        }
    }

    &__btn-exit{
       
        
        // 
    }
}