@import './components/Shared/_mixins';
@import './components/Shared/_variables';
.page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include font-sans($textS, $color-black, 400, 18.75px);

  height: 100vh;
  display: flex;
}
